<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/delete" method="post">
    <label for="patient_id">Enter the ID of the patient you want to delete:</label>
    <input type="text" name="patient_id" id="patient_id">
    <input type="submit" value="Delete">
</form>
</body>
</html>