
<!DOCTYPE html>

<head>
    <title>NEW PATIENT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body>
    <section class="content-header">
        <h1>NEW PATIENT</h1>
    </section>

    <div class="content">

        <div class="container-fluid">

            <form action="/save" method="post">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <input type="text" name="patient_id" placeholder="enter ID of the patient" class="form-control ">
                    </div>
                    <div class="col-sm-9"> </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <input type="text" name="Name" placeholder="enter name" class="form-control ">
                    </div>
                    <div class="col-sm-9"> </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <input type="text" name="gender" placeholder="enter the gender of the patient" class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="text" name="age" placeholder="enter age of the patient" class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="text" name="address" placeholder="enter the address of the patient "
                            class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="text" name="phone" placeholder="enter the phone number of the patient " class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="email" name="email" placeholder="enter the email of the patient " class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="text" name="medical_history" placeholder="enter the medical history of the patient " class="form-control col-md-3">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-3">
                        <input type="submit" class="form-control btn-success col-md-3" value="Save">
                    </div>
                </div>
                </form>
                </div>
                </div>
                </div>
                </body>
                
                </html>